.Pokemon {
  padding: 1em;
  margin: .5em;
  background-color: #eee;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  height: 150px;
}

.Pokemon h2 {
  margin: .5em;
}

.Pokemon img{
  margin: auto;
}

.PokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}